.container {
    width: 100%;
    display: flex;
    align-items: flex-start;
}
nav {
    position: fixed;
    top: 0;
}
button {
    text-align: center;
    background-color: #ccc;
    color: white;
    padding: 8px;
    display: flex;
    margin: 4px;
    border: none;
    align-items: center;
}